.lpgoulart-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  outline: none;
  transition: .5s all
}

.lpgoulart-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #1ea7fd;
}

.lpgoulart-button:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #1ea7fd;
}

.lpgoulart-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.lpgoulart-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.lpgoulart-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.lpgoulart-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.lpgoulart-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

@media screen and (max-width: 569px) {
  .lpgoulart-button {
    display: block;
    width: 100%;
  }
}